/*   NG      */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*************/
/* 2D Models */
.model_info {
  color: #aaa;
  font-size: 200%;
  vertical-align: middle;
  top:4px;
}

input {
  text-align: end;
}

.seismic-color {
  height: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.alert-success {
  width:50%;
  height: 60px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.form-control {
  margin-bottom: 5px;
}

.flexslider .slides img {
  max-height: 400px;
}

canvas {
  position: absolute;
}

svg {
  position: relative;
  z-index: 3;
}
.remove-padding {
  padding:0;
}

.bottom-buffer {
  margin-bottom:20px;
}

.model_select {
  text-align: right;
  float: right;
  padding-right: 20px;
}

.flex-direction-nav a {
  height: 50px;
}

.dropdown-menu {
  text-align: center;
}

.model_button {
  float: right;
  margin: 5px;
}

.model_select {
  float: right;
  margin-bottom: 5px;
}

.rock-color {
  height: 34px;
  margin: 0 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/*************/

/* 1D Models */

.tick line{
    opacity: 0.1;
}

.axis text {
  font: 10px sans-serif;
}

div.plot {
  padding:0;
}

#seismic_menu {
  margin-top:-40px; 
  margin-bottom: 20px;
}

.axis path,
.axis line {
  stroke-width: 1;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/**************/

.ribbon-banner {
   display: block;
   position: absolute;
   top: 50px;
   left: -120px;
   width: 400px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   opacity: 0.7;
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   transform:         rotate(-45deg);
   font-size: 18px;
   font-weight: 700;
   color: white;
   background-color: green;
   border: 1px solid white;
   z-index: 500;
   }

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

.modelr-title {
  padding-left: 48px;
  background:transparent url('/static/img/modelr_icon_grey_32px.png') left center no-repeat;
  background-position: 12px;
}
.modelr-title:hover {
  background:transparent url('/static/img/modelr_icon_colour_32px.png') left center no-repeat;
  background-position: 12px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #729fcf;
}

.navbar-default .navbar-collapse .navbar-nav a:hover,
.navbar-default .navbar-collapse .navbar-nav a:focus {
  color: #729fcf;
}

.modelr-footer-logo {
  margin:4px 12px 18px 0;
  float:left;
  color:lightgray;
}

.modelr-footer {
  color:lightgray;
}

.modelr-footer a:link,
.modelr-footer a:visited {
  color:#b2b2b2;
}

.modelr-footer a:hover,
.modelr-footer a:focus {
  color: #729fcf;
}

.navbar-btn {
  background:lightgray;
}

.navbar-header {
  font-family: 'Montserrat', sans-serif;
}
.navbar:hover {
  font-color: blue;
}

.panel-title {
  font-family: 'Montserrat', sans-serif;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  font-family: 'Montserrat', sans-serif;
}


body {
  position: relative; /* For scrollyspy */
  padding-top: 40px; /* Account for fixed navbar */
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}

.legal h4 { clear:both; padding:20px 0 0 0; }
.legal div.legalese { float:left; width:56%; }
.legal div.simple { float:right; width:40%; margin: 0  0 20px 0; padding: 20px; border-radius: 3px; box-shadow: 0 0 3px #aaa; }
.legal div.simple h4 { font-family: serif; font-size: 16px; line-height: 24px; color: #2d2828; margin: 0 0 10px 0; }
.legal div.simple p { font-family: sans-serif; font-size: 14px; margin: 0; }

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; }
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
