{% extends "base_template.html" %}

{% block title %}Modelr &middot; 1D Model{% endblock %}
{% block content %}

<style type="text/css">
tspan {
  font-size: 9px;
}

 model-plot {
   font: 16px sans-serif;
 }
 
 text {
   font: 12px sans-serif;
 }
 
 .y-label {
   font: 16px sans-serif;
 }

 .menu-label {
  font: 12px sans-serif;
 }

 .wiggle-fill {
    fill: grey;
    stroke-width: 0;
   stroke: transparent;
}
 .wiggle-line {
    fill: none;
    stroke-width: 1;
    stroke: black;
}

 .cblock {   
   float: left;
   width: 20px;
   height: 20px;     
   margin: 5px 25px 5px 25px;
   border-width: 1px;
   border-style: solid;
   border-color: rgba(0,0,0,.2);
 }

 .domain { 
   fill:none; 
   stroke: #000; 
   stroke-width: 1px; 
   shape-rendering: crispEdges;
 } 


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"
	charset="utf-8"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="/static/js/fluidsub.js"></script>
<script src="/static/js/logplot.js"></script>
<script src="/static/js/refplot.js"></script>
<script src="/static/js/gatherPlot.js"></script>
<script src="/static/js/1D_model.js"></script>

<script>
 $(document).ready(function(){

   var db_rocks = {{db_rocks}};
   var colour_map={{colour_map}};
   var db_fluids = {{db_fluids}};

   for (var i in db_rocks){
     db_rocks[i] = JSON.parse(db_rocks[i]);
   };

   for (var i in db_fluids){
     db_fluids[i] = JSON.parse(db_fluids[i]);
   };

   setup1D("#rock-model-container",db_rocks, db_fluids,
	   colour_map, 10000,
	   "#rock-menu", "#plot-container",
	   "#reflectivity-menu", "#seismic-menu");
 }
 )
</script>



<div class="container">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Model</h3>
    </div>
    <div class="panel-body">
      <p class="lead"> Drag tops to move them. Click to insert new tops.</p>
      <div class="model-plot"> <!-- Helps with CSS -->
        <div class="col-md-12" id="plot-container">
        </div>
  
      </div> <!-- End of model-plot -->
    </div> <!-- End of panel body -->
    <div class="row">
      <div id="rock-menu" class="col-md-6" title="Interval menu">
      </div>
      <div id="seismic-menu" title="Seismic menu" class="col-md-6">
	Frequency:
	<input type="range" min="3" max="100" id="frequency" value="30">
	<div id="frequency-label">
	  30
	</div>
      </div>
    </div>
  </div> <!-- End of panel -->


<script>
$('#model_info').popover({
        trigger: 'hover click', 
        html: true,
        placement: 'right', 
        container: 'body',
        delay: { show: 500, hide: 1000 }
});
</script>

{% endblock %}


