{% extends "base_template.html" %}

{% block title %}Modelr &middot; About{% endblock %}
{% block content %}

<div class="container">
      
  <div class="alert alert-warning">
      <strong>Warning!</strong> This web app is in early development. There are bugs. Thank you for exploring!
  </div>
        
  <h3>What is modelr?</h3>
  <p><strong>What?</strong> This web application builds simple forward models of reflection seismic responses.</p>
  <p><strong>How?</strong> Sign in and use the forms to create models. It's very easy. Still stuck? Read the <a href="/help">help page</a>.</p>
  <p><strong>Why?</strong> We think forward models are the most important thing that nobody does, because the tools are esoteric and expensive.</p>
      
  <div class="accordion" id="accordion" style="font-size:9pt">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <strong>Credits</strong>
      </a>
    </div>
      
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Built with love by Matt Hall, Evan Bianco, and Ben Bougher in the winter of 2013–14.</p>
        <p>The first version of the app was built by Matt and Sean Ross-Ross in the spring of 2012.</p>
        <p>This web app is built in Python on the open source goodness of NumPy, SciPy, agilegeo, and lots of other libraries.</p>
        <p>It runs on the amazing <a href="https://developers.google.com/appengine/">Google App Engine</a> and <a href="http://aws.amazon.com/ec2/">Amazon EC2</a>.</p>
      </div> 
    </div>
     
  </div>
    
</div>

{% endblock %}

