{% extends "base_template.html" %}

{% block title %}Modelr &middot; Demo{% endblock %}
{% block content %}


<div class="container">
              
  <h1>Try Modelr for free</h1>
  
  <p class="lead"><strong>Explore our tools for free.</strong> This is where you can try some of the modeling workflows.</p>

  <p class="lead"><a href="/signup">Subscribe</a> to use your own earth models, create your own rocks and fluids, or save scenarios.</p>
  
  <div class="container">

    <div class="row">

      <div class="col-lg-offset-3 col-md-4 col-lg-2">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3><a href="1D_model">1D modeling </a></h3>
          </div>
          <div class="panel-body">
            <p>1D synthetics and fluid substitution modeling.</p>
          </div>
        </div>          
      </div>

      <div class="col-md-4 col-lg-2">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3><a href="/model">2D modeling</a></h3>
          </div>
          <div class="panel-body">
            <p>Build a synthetic section from a 2D earth model.</p>
          </div>
        </div>          
      </div>

      <div class="col-md-4 col-lg-2">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3><a href="/scenario">Scenario models</a></h3>
          </div>
          <div class="panel-body">
            <p>Script-based models of various wedge and AVO scenarios.</p>
          </div>
        </div>          
      </div>

    </div><!-- end row -->

  </div> <!-- end inner container -->
                
</div><!-- end main container -->

{% endblock %}
