{% extends "base_template.html" %}

{% block title %}Modelr &middot; Drawing{% endblock %}
{% block content %}

<div class="container">

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{ error }}
  </div>
  {% endif %}

  {% if warning %}
  <div class="alert alert-warning">
      <strong>Sorry...</strong> {{ warning }} 
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success">
      <strong>Success!</strong> {{ success }} 
  </div>
  {% endif %}
  
<ol class="breadcrumb">
  <li><a href="/help">Help</a></li>
  <li class="active">Drawing</li>
</ol>

<h3>Making an image for Modelr</h3>
<p>Here are a few tips to keep in mind so that an image can be effortlessly read into an earth model. If you can't easily re-work an illustration to fit the requirements, it might be easier to redraw the model using a vector graphics program such as <a href="http://inkscape.org/">Inkscape</a>, which is free, or Adobe Illustrator.
</p>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Remove annotation, labels, and rock outlines
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

      <p>Each color is mapped to a rock class, so in order to avoid annotations and labels from being turned into rock classes, 
      you need to remove them from the image. </p>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/remove_annotation.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Remove annotations</h4>
            Remove anything that you don't want to be detected and classified as a rock. 
            This includes text, text labels, scales, legends, and so on.</a>.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/remove_axis_and_labels.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Remove borders, grid lines, and axis tick marks</h4>
            Since modelr is able to convert earth models between the depth and travel-time domains, it is important remove any
            distinct borders around the edges of the image, otherwise you'll get non-physical reflections along the border.</a>.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/remove_rock_outlines.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Remove rock outlines</h4>
            This is perhaps the most critical element to remember. If you have outlines between rocks, the color of the outline could be 
            mapped to its own rock class. This would of course be an unnatural situation, and negate the seismic reflectivity contrasts 
            that you are after.</a>.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/just_rocks.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">So only rocks remain</h4>
            Save the file as a PNG or JPEG, preferably with no alpha channel or dithering.
          </div>
        </div>
        
      </div>
    </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Use color wisely
          </a>
        </h4>
      </div>
    
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/use_color_wisely.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Color sensitivity</h4>
            Colors should be distinct, but they don't have to be too distinct. 
            For instance, the contrast levels in the image show to the left
            will work just fine. 
            
            Modelr classifies rocks based on unique R,G,B color values. 
            If you want to make an earth model with 5 rocks in it, the image should
            therefor only have 5 colors in it. The colors you choose are up to you, 
            and are handled arbitrarily.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/two_rocks_same_color.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Color assignment</h4>
            This may not be suitable in all cases, but if the picture you are trying
            to upload has more colors within it than you need, note that 
            you can set two or more different colors to the same rock class after 
            you have imported it. You cannot however set two different rocks to the 
            same color (as shown by the image to the left), even if the color is present
            in more than one region of the image.
          </div>
        </div>
        
      </div>
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        Geological information density
        </a>
        </h4>
      </div>
    
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/geol_info_density1.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">The finer details are fine, ...</h4>
            Models can contain a high level of detail, resolution and complexity, 
            as long as all the colors involved each comprise more than 1% of the total
            of the image area. We've deliberately designed the image classification 
            interface in this way for practical purposes. The upshot is that you'll
            never need to use more than 99 rocks, because it is not possible to
            have more than 99 colors where each one takes up more than 1% of the image.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/geol_info_density2.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">... but small bits of color will be skipped</h4>
            In order to deal with dithering, blended colors at interfaces, and other 
            issues with digital images, Modelr will not create a rock classification 
            for any color instance that takes up less than 1% of the total image area.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/geol_info_density3.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Crop the image and zoom in</h4>
            If a color is not being identified by the rock classification system, 
            it could be because it is too small. This could be a symptom that you
            may be imposing model dimensions that are larger than they need to be. 
            Consider cropping the image to zoom in and focus on the area you are 
            interested in.
          </div>
        </div>
        
      </div>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
      Resolution, size, and scales
      </a>
      </h4>
    </div>
    
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/avoid_visible_pixels.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Avoid visible pixels</h4>
            If you can see individual pixels, then image probably doesn't have 
            enough resolution and your seismic experiment will suffer from edge effects,
            It is better to have an image that is slightly higher resolution than what
            you might normally use for normal illustrations and graphics.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/minimum_pixel_dimensions.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Minimum image dimensions</h4>
            By default, the number of traces in the synthetic will be the same 
            as the width of the image in pixels. As a result, one way to add more
            traces to your synthetic model, is to boost the resolution of 
            your input image. Beyond that, there are no other constraints on image 
            dimensions, but we recommend keeping files smaller than 1 MB for speed.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/drawing_tips/size_and_scale2.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">The vertical scale can be changed</h4>
            The vertical scale is something that is set after the image has been
            uploaded, so the aspect ratio can be essentially anything that allows
            you to achieve the information density and geological complexity that 
            you want to model. 
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}
