{% extends "base_template.html" %}

{% block title %}Modelr &middot; Features{% endblock %}
{% block content %}

<div class="container">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Built for geoscientists by geoscientists. And a physicist.</h3>
  </div>
  <div class="panel-body">
     <p>Modelr has a robust, clean, and flexible interface that lets you focus on building meaningful synthetic seismic experiments.</p>
  </div>
</div>                
                                                                      
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">For seismic interpreters</h3>
  </div>
  <div class="panel-body">
    <p>Model simple geometries like wedges and channels quickly. See variable density plots, wiggle displays, and the model itself.</p>
    <img src="/static/img/Modelr_features_channel.png" class="img-responsive" alt="Modelr seismic model example" />
  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">For quantitative interpretation</h3>
  </div>
  <div class="panel-body">
     <p>Deterministic AVO modeling. Can your pre-stack seismic actually show you what you want to see?</p>
    <img src="/static/img/Modelr_features_stochastic_avo.png" class="img-responsive" alt="Modelr seismic model example" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Explore the frequency domain</h3>
  </div>
  <div class="panel-body">
     <p>Inspect frequency 'gathers' for tuning effects. Analyse signal and bandwidth requirements for survey design.</p>
    <img src="/static/img/Modelr_features_wavelet_bank.png" class="img-responsive" alt="Modelr seismic model example" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stochastic AVO modeling</h3>
  </div>
  <div class="panel-body">
     <p>Don't sweep uncertainty under the rug. Make it work to your advantage!</p>
     <img style="width:60%; float:left;" src="/static/img/Modelr_features_AVO_and_int_grad.png" class="img-responsive" alt="Modelr seismic model example" />
     <img style="width:30%;" src="/static/img/Modelr_features_properties_pdf.png" class="img-responsive" alt="Modelr seismic model example" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Some of the things we're working on</h3>
  </div>
  <div class="panel-body">
     <ul>
     <li>Full elastic, finite difference waveform simulation.</li>
     <li>Import and export logs and seismic.</li>
     <li>Arbitrary earth models.</li>
     <li>Fluids, anisotropy, and lots more earth properties.</li>
     </ul>
  </div>
</div>
        
          <p>
            <a class="btn btn-primary btn-lg" role="button"
	       href="/demo">Try <strong>modelr</strong> now</a>
            <a class="btn btn-info btn-lg" role="button" 
	       href="/signup">Sign up</a>
          </p>
</div>

{% endblock %}

