{% extends "base_template.html" %}

{% block title %}Modelr &middot; Features{% endblock %}
{% block content %}

<div class="container">

<div class="panel panel-default">
  <div class="panel-primary">
    <h3 class="panel-title">Built for geoscientists</h3>
  </div>
  <div class="panel-body">
    Robust, clean, and flexible interface that lets you focus on building meaningful synthetic seismic experiments.
  </div>
</div>                
                                                
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">For seismic interpreters</h3>
  </div>
  <div class="panel-body">
    Wedges
    <img src="/static/img/F_wedges_with_text.png" class="img-responsive" alt="Responsive image">
    Model reservoir geometries
    <img src="/static/img/F_slant_25_35.png" class="img-responsive" alt="Responsive image">
    Channels
    <img src="/static/img/F_channel.png" class="img-responsive" alt="Responsive image">
    Define your own wavelets
    <img src="/static/img/F_ormsby.png" class="img-responsive" alt="Responsive image">
    <img src="/static/img/F_slant_wedge.png" class="img-responsive" alt="Responsive image">
  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">For seismic acquisition and survey planning</h3>
  </div>
  <div class="panel-body">
    Analyse signal and bandwidth requirements for survey design
    <img src="/static/img/F_wavelet_bank.png" class="img-responsive" alt="Responsive image">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">For seismic processors</h3>
  </div>
  <div class="panel-body">
    Avoid processing pitfalls such as picking pre-stack tuning contrasts as VTI anisotropy.
    <img src="/static/img/F_AVO_gather_NMO_vs_VTI.png" class="img-responsive" alt="Responsive image">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deterministic AVO modeling</h3>
  </div>
  <div class="panel-body">
    Can your seismic actually show you what you want to see?
    <img src="/static/img/F_stochastic_avo.png" class="img-responsive" alt="Responsive image">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Stochastic AVO modeling</h3>
  </div>
  <div class="panel-body">
    Don't sweep uncertainty under the rug. Make it work to your advantage!
    <img src="/static/img/F_properties_pdf.png" class="img-responsive" alt="Responsive image">
    <img src="/static/img/F_AVO_and_int_grad.png" class="img-responsive" alt="Responsive image">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Coming soon</h3>
  </div>
  <div class="panel-body">
    Full elastic, finite difference waveform simulation, SEGY data importing / exporting, plus, turn any image you can draw into a subsurface earth model with physical rock properties.
  </div>
</div>
        
</div>

{% endblock %}

