{% extends "base_template.html" %} 
{% block title %}Modelr &middot; Scenario{% endblock %} 

{% block content %}

<!-- style for the color boxes  -->
<head>
  <style>
   .foo {   
     float: left;
     width: 20px;
     height: 20px;
     margin: 5px 5px 5px 5px;
     border-width: 1px;
     border-style: solid;
     border-color: rgba(0,0,0,.2);
   }
  </style>
</head>



<!-- JAVASCRIPT and DATA
================================================================ -->

<script>
 $(document).ready(function() {

   var maps = [];
   var rocks = get_rocks("#list_of_rocks");

   var rand_default = [];
   
   {% for im in colors %}
   var mapping = {}
   {% for color in (im) %}
   var keys = Object.keys(rocks)
   key =  keys[Math.floor((Math.random()*keys.length))];
   rock = rocks[key];
   mapping["{{color}}"] = {name:key, property: rock};
   {% endfor %}
   maps.push(mapping);
   {% endfor %}

   var images = [];
   {% for image in images %}
   images.push("{{image}}");
   {% endfor %}
   
   var db_keys = []
   {% for key in keys %}
   db_keys.push("{{key}}");
   {% endfor %}

   property_map = new PropertyMap(images, maps, db_keys, 0);

   server = new PlotServer(host);

   earth_structure = new EarthStructure(null, 5000, 5000, 'depth', 
					null);
   
   seismic_model = new Scenario(null, null, {},
				null);
   seismic_model.on_change = function (){};




   plot_container = new Scenario(null, null, {},
				 null);
   plot_container.on_change = function (){};

   forward_model = new ForwardModel(null,earth_structure, 
				    seismic_model, plot_container);

   plot_container.display = display_form;
   seismic_model.display = display_form;

   plot_container.script = "modelr_plot.py";
   
plot_container.set_current_script = function(value, argumentss){
     server.get_script_info(plot_container.script, function(data){
       plot_container.info = data;
       plot_container.default_args(argumentss);
     
       console.log('div#plot_place');
     

       // This will Create a form see above
       plot_container.display('div#plot_place');
     
     })
   }



   Colors(0);

   seismic_model.script = "convolution_model.py";
   seismic_model.set_current_script = function(value, argumentss){

     server.get_script_info(seismic_model.script, function(data){
       seismic_model.info = data;
       seismic_model.default_args(argumentss);
     
       console.log('div#seismic_place');
     
     // This will Create a form see above
       seismic_model.display('div#seismic_place');
     });
   }
   

   var hash = window.location.hash.substring(1);
   
   if (hash != ''){
     model_name = hash;
     load_scenario(model_name);
   }
else{
     seismic_model.set_current_script(seismic_model.script, 
				      seismic_model.arguments);
     plot_container.set_current_script(plot_container.script, 
				       plot_container.arguments);
   }


$("#depth").val(forward_model.earth_struct.depth);
$("#depth").change( function (){
    forward_model.earth_struct.depth = this.value;
});
$("#length").val(forward_model.earth_struct.length);
$("#length").change(function (){
   forward_model.earth_struct.length = this.value;
});
$("#units").val(forward_model.earth_struct.units);
$("#units").change(function (){
     forward_model.earth_struct.units = this.value;
});

 });
</script>

<script>
 function update_image(data){

   $('img#plot_image').attr('src', 
			    "data:image/png;base64, " + 
			    data.data); 
 };

 function save_model(){

   var input_image = property_map.get_key();
   var output_image = $('img#plot_image').attr("src");
   forward_model.put(input_image, output_image);
};

 // Loads a scenario
 load_scenario = function load_scenario(scenario_name){

   callback_function = function(data){

     data = JSON.parse(data);

     $('#plot_image').attr('src', data.output_image);
     index = property_map.get_key_index(data.input_image_key);

     $('myCarousel').carousel(index);

     property_map.set_index(index);

     property_map.colour_maps[index] = forward_model.earth_struct.mapping
     Colors(0);

     
   }

   forward_model.get(scenario_name, function(data){
     callback_function(data);
   });
 }


</script>
<script>

 function Colors(increment)

 {

   var div = $("#test");
   var foo;
   var i, j;
   var div,row, dropdown, option, text;
   var rocks = get_rocks('datalist#list_of_rocks');
   var index = $('#myCarousel .active').index('#myCarousel .item') + 
					      increment;

   
   var length = property_map.n_maps();

   index = index % length; 

   property_map.set_index(index);
   forward_model.earth_struct.image = property_map.get_image();
   forward_model.earth_struct.mapping = property_map.get_mapping();

   div.children().remove()

   form = div.append('<form id=script_form action=""></form>');

   form_text='<div>';
   c = property_map.get_colours();

   for (i in c)
   {
     update_map = function (input){
       property_map.colour_maps[index][c[i]] = {name:input,
						property: rocks[input]};
     }; 
     form_text += '<div class=row>';
     form_text += '<div class=foo style="background-color:' + c[i] +'"></div>';
     form_text += '<select  id="rock_selector" onchange="update_map(this.value)">'
     
     for (j in rocks) {
       selected = forward_model.earth_struct.mapping[c[i]].name;
       if (j == selected){
	 form_text += '<option value="' + j +'" selected>'+j+'</option>' ;
       }
       else{
	 form_text += '<option value="' + j +'">'+j+'</option>' ;
       }
     }
     form_text += '</select></div></div>';
   }
   form_text+='</div>';
   form.append(form_text);
   
 }

</script>

<script>

 var host = '{{HOSTNAME}}';

</script>

<div class="container">

  <!-- This will expand the list of rocks before google app engine 
  sends this page to the user -->
  <!-- This list is used by javascript and not directly 
  seen by the user -->
  <datalist id="list_of_rocks">
    {% for rock in rocks %}
    <option data-value="{{rock.vp}},{{rock.rho}},{{rock.vs}},{{rock.vp_std}}, {{rock.vs_std}}, {{rock.rho_std}}"
	    data-name="{{rock.name}}">{{rock.name}}</option>
    {% endfor %}
    {% for rock in default_rocks %}
    <option data-value="{{rock.vp}},{{rock.rho}},{{rock.vs}},{{rock.vp_std}}, {{rock.vs_std}}, {{rock.rho_std}}"
	    data-name="{{rock.name}}">{{rock.name}}</option>
    {% endfor %}
    
  </datalist>

  <!-- SCENARIO PANEL
  =============================================================== -->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Earth Model</h3>
      </div>
      
      <div class="panel-body">
	
        <form class="form-horizontal" role="form">
	  <div class="row">
	    <div class="col-md-6">
	      <div id="myCarousel" class="carousel slide" 
		   data-interval="false">
		<!-- Carousel slides -->
		<div class="carousel-inner">
		  {% for i in range((images.__len__())) %}
		  <div {% if i==0 %} class="active item" {% else %} 
		    class="item" {% endif %}>
		    <div class="thumbnail">
		      <img src={{images[i]}} alt="" >
		    </div>
		  </div>	
		  {% endfor %}
		</div>
		
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" 
		   data-slide="prev" 
		   onclick="Colors(-1)">
		  ‹
		</a>
		<a class="carousel-control right" href="#myCarousel" 
		   data-slide="next" 
		   onclick="Colors(1)">
		  ›
		</a>
	      </div>
	    </div>
	    <div class="col-md-4" id="test"></div>
	  </div>
	</form>
      </div>
      <!-- Earth Model Properties -->

     <strong>Define the units of your model</strong>
    <form id="earth_properties">
      <table>
	<tr>
	  <td>Length of the model</td>
	  <td><input class="script_form" type="number" id="length" name="length"></input>
	  </td>
	</tr>
	<tr>
	  <td>Depth of the model</td>
	    <td><input class="script_form" type="number" id="depth" name="depth">
	    </input></td>
	</tr>
	<tr>
	    <td>Model domain</td>
	    <td><select name="units" id="units" class="script_form rock_selector">
	      <option>time</option>
	      <option>depth</option>
	    </select>
	    </td>
	</tr>
      </table>
    </form>

    </div>
    

    <!-- This is where there survey parameters will be set -->
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Seismic Model</h3>
      </div>

      <div id="seismic_place">
      </div>
    </div>    

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Plot Control</h3>
      </div>

      <div id="plot_place">
      </div>
    </div>
    
    <div class="panel-body">
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
	  <button class="btn btn-default" id='create_image' 
		  onclick="forward_model.post(server, update_image)">
            Create image
	  </button>
	</div>
      </div>

      <div class="form-group">

	<div class="form-inline">
	  <div class="col-sm-10">
	    <input {% if not user %}style="background-color:#bbb;" {% endif %}class="form-control" 
		   id='scenario_name' 
		   onchange="forward_model.name = this.value;" 
		   placeholder="Scenario name" 
		   maxlength="20">
	    </input>
	  </div>
	  <div class="col-md-offset-10">
	    <button class="btn btn-default" 
		    onclick="save_model()"
		    type="button" id="savebutton">
	      save
	    </button>
	  </div>

	</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
      </div>
      <div class="panel-body">

        <img class="img-thumbnail" id="plot_image" href=URL 
	     alt="Plot image">
        <!-- Updated by the  create_image button above-->
        </img>

      </div>
    </div>
  </div>
</div>


   {% endblock %}
