{% extends "base_template.html" %} 
{% block title %}Modelr &middot; Scenario{% endblock %} 

{% block content %}

<!-- style for the color boxes  -->
<head>
  <style>
   .foo {   
     float: left;
     width: 20px;
     height: 20px;
     margin: 5px 5px 5px 5px;
     border-width: 1px;
     border-style: solid;
     border-color: rgba(0,0,0,.2);
   }
  </style>
</head>



<!-- JAVASCRIPT and DATA
================================================================ -->

<script>
 $(document).ready(function() {

   var maps = [];
   var rocks = get_rocks("#list_of_rocks");

   var rand_default = [];
  
   {% for im in colors %}
   var mapping = {}
   {% for color in (im) %}
   var keys = Object.keys(rocks)
   key =  keys[Math.floor((Math.random()*keys.length))];
   rock = rocks[key];
   mapping["{{color}}"] = {name:key, property: rock};
   {% endfor %}
   maps.push(mapping);
   {% endfor %}

   var images = [];
   {% for image in images %}
   images.push("{{image}}");
   {% endfor %}
   
   property_map = new PropertyMap(images, maps);

   server = new PlotServer(host);

   earth_structure = new EarthStructure(null, null, null, null, null);
   
   seismic_model = new Scenario(null, null, {},
				null);
   seismic_model.on_change = function (){};




   plot_container = new Scenario(null, null, {},
				 null);
   plot_container.on_change = function (){};

   forward_model = new ForwardModel(earth_structure, 
				    seismic_model, plot_container);

   plot_container.display = display_form;
   seismic_model.display = display_form;

   plot_container.script = "modelr_plot.py";
   server.get_script_info(plot_container.script, function(data){
     plot_container.info = data;
     plot_container.default_args(plot_container.arguments);
     
     console.log('div#plot_place');
     

     // This will Create a form see above
     plot_container.display('div#plot_place');
     
   })
   Colors({{colors}}, 0, {{colors.__len__()}});

   seismic_model.script = "convolution_model.py";
   server.get_script_info(seismic_model.script, function(data){
     seismic_model.info = data;
     seismic_model.default_args(seismic_model.arguments);
     
     console.log('div#seismic_place');
     
     // This will Create a form see above
     seismic_model.display('div#seismic_place');
     
   });


 });
</script>

<script>
function update_image(data){

   $('img#plot_image').attr('src', 
			    "data:image/png;base64, " + 
			    data.data); 
 };
</script>
<script>

 function Colors(colors, increment, length)

 {

   var div = $("#test");
   var foo;
   var i, j;
   var div,row, dropdown, option, text;
   var rocks = get_rocks('datalist#list_of_rocks');
   var index = $('#myCarousel .active').index('#myCarousel .item') + 
					      increment;

 

   index = index % length; 

   earth_structure.image = property_map.get_image(index);
   earth_structure.mapping = property_map.get_mapping(index);

   div.children().remove()

   form = div.append('<form id=script_form action=""></form>');

   form_text='<div>';
   for (i in colors[index])
   {
     c=colors[index];
     update_map = function (input){
       property_map.colour_maps[index][c[i]] = {name:input,
						property: rocks[input]};
     }; 
     form_text += '<div class=row>';
     form_text += '<div class=foo style="background-color:' + c[i] +'"></div>';
     form_text += '<select class="script_form rock_selector" id="rock_selector" onchange="update_map(this.value)">'
     for (j in rocks) {
       selected = earth_structure.mapping[c[i]].name;
       if (j == selected){
       form_text += '<option value="' + j +'" selected>'+j+'</option>' ;
       }
       else{
	 form_text += '<option value="' + j +'">'+j+'</option>' ;
       }
     }
     form_text += '</select></div></div>';
   }
   form_text+='</div>';
   form.append(form_text);
  
 }

</script>

<script>

 var host = '{{HOSTNAME}}';

</script>

<div class="container">

  <!-- This will expand the list of rocks before google app engine 
  sends this page to the user -->
  <!-- This list is used by javascript and not directly 
  seen by the user -->
  <datalist id="list_of_rocks">
    {% for rock in rocks %}
    <option data-value="{{rock.vp}},{{rock.rho}},{{rock.vs}},{{rock.vp_std}}, {{rock.vs_std}}, {{rock.rho_std}}"
	    data-name="{{rock.name}}">{{rock.name}}</option>
    {% endfor %}
    {% for rock in default_rocks %}
    <option data-value="{{rock.vp}},{{rock.rho}},{{rock.vs}},{{rock.vp_std}}, {{rock.vs_std}}, {{rock.rho_std}}"
	    data-name="{{rock.name}}">{{rock.name}}</option>
    {% endfor %}
    
  </datalist>

  <!-- SCENARIO PANEL
  =============================================================== -->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Earth Model</h3>
      </div>
      
      <div class="panel-body">
	
        <form class="form-horizontal" role="form">
	  <div class="row">
	    <div class="col-md-6">
	      <div id="myCarousel" class="carousel slide" 
		   data-interval="false">
		<!-- Carousel slides -->
		<div class="carousel-inner">
		  {% for i in range((images.__len__())) %}
		  <div {% if i==0 %} class="active item" {% else %} 
		    class="item" {% endif %}>
		    <div class="thumbnail">
		      <img src={{images[i]}} alt="" >
		    </div>
		  </div>	
		  {% endfor %}
		</div>
		
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" 
		   data-slide="prev" 
		   onclick="Colors({{colors}}, -1, {{images.__len__()}})">
		  ‹
		</a>
		<a class="carousel-control right" href="#myCarousel" 
		   data-slide="next" 
		   onclick="Colors({{colors}},1,{{images.__len__()}})">
		  ›
		</a>
	      </div>
	    </div>
	    <div class="col-md-4" id="test"></div>
	  </div>
	</form>
      </div>
    </div>
    

    <!-- This is where there survey parameters will be set -->
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Seismic Model</h3>
      </div>

      <div id="seismic_place">
      </div>
    </div>    

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Plot Control</h3>
      </div>

      <div id="plot_place">
      </div>
    </div>
    
    <div class="panel-body">
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
	  <button class="btn btn-default" id='create_image' 
		  onclick="forward_model.post(server, update_image)">
            Create image
	  </button>
	</div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
      </div>
      <div class="panel-body">

        <img class="img-thumbnail" id="plot_image" href=URL 
	     alt="Plot image">
        <!-- Updated by the  create_image button above-->
        </img>

      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
