{% extends "base_template.html" %}

{% block title %}Modelr &middot; Help{% endblock %}
{% block content %}

<div class="container">

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{ error }}
  </div>
  {% endif %}

  {% if warning %}
  <div class="alert alert-warning">
      <strong>Sorry...</strong> {{ warning }} 
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success">
      <strong>Success!</strong> {{ success }} 
  </div>
  {% endif %}
  
<h4>Building a seismic forward model in Modelr consists of four steps:</h4>
<div style="margin:2em;"></div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          1. Define the geometry of the layers.
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><span style="font-size: 12px;">There are two ways to define the geometries for an earth model.</span></p>
<p>1. Select a simple geometric scenario from the <strong>scenario builder</strong> page:</p>
<p><span class="full-image-block ssNonEditable"><span><img src="/static/img/help/help_channel_wedge_slab.PNG" alt="" /></span></span></p>
<p>&nbsp;</p>
<p>For the slab model. See &lt;this reference page&gt; for setting input parameters.</p>
<p>Or select <strong>Stochastic AVO</strong> from the scenario page for 2-layer half-space reflectivity modeling.</p>
<p><span class="full-image-block ssNonEditable"><span><img src="/static/img/help/help_stochastic_AVO.PNG" alt="" /></span></span></p>
<p>&nbsp;</p>
<p>2. Upload an image from cross-section or geomodel using the <strong>cross-section builder</strong></p>
<p><span class="full-image-block ssNonEditable"><span><img src="/static/img/help/help_image_upload.PNG" alt="" /></span></span></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          2. Select the rock for each layer.
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
         Select rocks for each layer from your list of available rock types.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          3. Define the seismic experiment.
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
         Choose acquisition domain: a cross-section (spatial), an angle gather, or bandwidth at a user specified trace location in the cross section). Future releases will allow accessing the 4 dimensional seismic model (x, t, angle, and bandwidth) in horizontal dimensions (i.e. a time slice through angle, bandwidth space on the x and y axis)
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          4. Choose the display parameters.
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        <li>You can choose to display the synthetics seismic model, along with the layers or reflectivity values of the interfaces in the physical model. These can be used as underlays for directly comparing the positioning and resolution of seismic events.</li>
        <li>The base layer for each panel is opaque, whereas the opacity of the overlay layer can be controlled.</li>
        <li>Want to change the number of traces in the synthetic, the colormap, the number of wiggle traces to skip or the percentage of overlap? All of these parameters can be set in the scripting layer.</li>
        <li>Give a name to your scenario, if you are happy with the results. This will save to your user profile, and you can come back to it later.</li>
        <li>Along with returning an image of your model result, modelr also builds an equivalent URL that can be copy and pasted into any browser window, or attached to an email and shared with a colleague.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:36px;"></div>
<h4>Can't figure something out? Got a bright idea? Get in touch...</h4>

<div class="col-md-8" style="margin-top:18px;">

  <form class="form-horizontal" action="help" method="POST">
  
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-offset-2">
      <input class="form-control" type="email" name="email"  
	     value={{user.email}}>
    </div>
    </div>
    
      <div class="form-group">
      <label for="categories" class="col-sm-2 control-label">Message</label>
      <div class="col-sm-offset-2">
        <textarea name="message" rows="3" placeholder="What's on your mind?" class="form-control"></textarea>
      </div>
    </div>

  <div class="form-group">
  <div class="col-sm-offset-2">
    <input class="btn btn-primary btn-lg" type="submit" 
	   value="Send your message">
  </div>
  </div>

</div>
</div>

{% endblock %}

