{% extends "base_template.html" %}

{% block title %}Modelr{% endblock %}
{% block content %}

<!-- Carousel
================================================== -->
<div style="margin-top:48px"></div>

<div id="modelrCarousel" class="carousel slide hidden-xs" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#modelrCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#modelrCarousel" data-slide-to="1"></li>
    <li data-target="#modelrCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  
    <div class="item active">
      <img src="/static/img/modelr_slideshow_6.jpg" alt="modelr logo">
      <div class="carousel-caption">
        <h2>&nbsp;</h2>
        <h4>&nbsp;</h4>
          <p>
            <a class="btn btn-primary btn-lg" role="button" 
	       href="/demo">Try <strong>modelr</strong> for free</a>
            <a class="btn btn-info btn-lg" role="button" 
	       href="/signup">Create an account</a>
          </p>
      </div>
    </div> <!-- end of item -->
    <div class="item">
      <img src="/static/img/modelr_slideshow_1.jpg" 
	   alt="modelr screenshot">
      <div class="carousel-caption">
        <h2>Runs on any device</h2>
        <h4>Because modelr works in the browser, 
	  <br />you can use it anywhere, on any sized screen.</h4>
          <p>
            <a class="btn btn-primary btn-lg" role="button"
	       href="/scenario">Try <strong>modelr</strong> for free</a>
            <a class="btn btn-info btn-lg" role="button" 
	       href="/signup">Create an account</a>
          </p>
      </div>
    </div> <!-- end of item -->
    <div class="item">
      <img src="/static/img/modelr_slideshow_2.jpg" 
	   alt="modelr models">
      <div class="carousel-caption">
        <h2>Runs in the browser</h2>
        <h4>Modelr is a web app, and works in any browser. 
	  <br />No need to install any software.</h4>
          <p>
            <a class="btn btn-primary btn-lg" role="button"
	       href="/scenario">Try <strong>modelr</strong> for free</a>
            <a class="btn btn-info btn-lg" role="button" 
	       href="/signup">Create an account</a>
          </p>
      </div>
    </div> <!-- end of item -->
  </div> <!-- end of carousel inner -->

  <!-- Controls -->
  <a class="left carousel-control" href="#modelrCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#modelrCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- /.carousel -->

<div class="container visible-xs">
        <figure style="text-align:center;"><img src="/static/img/icon_144px.png" /></figure>
        <p class="lead text-center">Fast, easy forward models<br />
            for seismic interpreters.</p>
          <p class="lead text-center">
            <a class="btn btn-primary btn-lg" role="button" style="margin-bottom:6px;"
         href="/scenario">Try <strong>modelr</strong> for free</a>
            <a class="btn btn-info btn-lg" role="button" style="margin-bottom:6px;"
         href="/signup">Create an account</a>
          </p>
</div>

<script src="/static/js/carousel.js"></script>
<script src="/static/js/transition.js"></script>


{% endblock %}
