{% extends "base_template.html" %}

{% block title %}Modelr &middot; Drawing{% endblock %}
{% block content %}

<div class="container">

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{ error }}
  </div>
  {% endif %}

  {% if warning %}
  <div class="alert alert-warning">
      <strong>Sorry...</strong> {{ warning }} 
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success">
      <strong>Success!</strong> {{ success }} 
  </div>
  {% endif %}
  
<ol class="breadcrumb">
  <li><a href="/help">Help</a></li>
  <li class="active">Drawing</li>
</ol>

<h3>Models: inspecting your results</h3>
<p>This section describes the elements in the results section to allow you to modify, and inspect the results.
</p>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Scene selector
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

      <p>When a synthetic model is generated a figure will appear in the results area showing 3 variable intensity images through the model’s domains: a spatial cross-section (t-x domain); an angle gather (t-theta domain); and a wavelet gather (t-F domain). 
      </p>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/3_panels.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Spatial, angle, and wavelet</h4>
            3 panels
          </div>
        </div>
                
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/1_panel.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Spatial only</h4>
            Single panel showing a cross-section view of the synthetic data, with an isolated wiggle plot track of the selected trace.
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Wiggle trace
        </a>
      </h4>
    </div>
    
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The wiggle It is used to serve as a reference marker. Please note that it is the same trace for all panels. In some cases, the wiggle trace will appear wider or narrower within the wavelet gather. This happens because the wavelet gather increases in powers of 2 (not linearly), which causes some non-linear amplification when plotting the wiggle trace.
        </p>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/wiggle_trace.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Trace slider</h4>
            Use the <i>Trace</i> slider to move the position of the wiggle trace. This
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/wiggle_angle.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Offset angle slider</h4>
            Use the <i>Offset angle</i> slider to move the position of the wiggle trace on the angle gather. 
          </div>
        </div>

                <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/wiggle_wavelet.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Frequency slider</h4>
            Use the <i>Frequency</i> slider to change the center frequency of the wavelet shown in the spatial cross-section and angle gather.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        Instantaneous amplitude graphs
        </a>
      </h4>
    </div>
    
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">

          <p>Each domain has a corresponding area below the for plotting instantaneous amplitude values indicated by the horizontal green line. This is akin to an amplitude extraction at a specific two-way time. The instantaneous amplitude is plotted as a function of position, angle, and centre frequency for the spatial cross-section, angle gather, and wavelet gather respectively.</p>
        
          <p>Use the TWT slider to change the position of the instantaneous amplitude plots to inspect:</p>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/graph_tslice.png" alt="...">
          </a>
          <div class="media-body">


            <h4 class="media-heading">Time slices</h4>
            Functions of instantaneous amplitude versus position represents an amplitude extraction along a time-slice. 
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/graph_AVO.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">AVO response</h4>
             Instantaneous amplitude curves in the angle domain represent AVO response.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/graph_tuning.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Turning response</h4>
            Instantaneous amplitude plots in the frequency panel represent turning curves
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        Using data sliders to modify model parameters
        </a>
      </h4>
    </div>
    
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/avoid_visible_pixels.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Gain slider</h4>
            If you can see individual pixels, the image probably doesn't have enough resolution and your seismic experiment will suffer from sampling artifacts.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/minimum_pixel_dimensions.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Frequency</h4>
            By default, the number of traces in the synthetic will be the same 
            as the width of the image in pixels. As a result, one way to add more
            traces to your synthetic model is to boost the resolution of 
            your input image. Note that large images will be slower to process.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/size_and_scale2.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Phase</h4>
            The vertical scale is set after upload, so the aspect ratio can be essentially anything that allows
            you to achieve the information density and geological complexity that you want to model. 
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/size_and_scale2.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Noise</h4>
            Add noise to your model by modifying the signal to noise ratio slider. Noise is applied in the frequency domain in proportion to the bandwidth of the signal.
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/size_and_scale2.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Wavelet</h4>
            Select from either Ricker or Ormsby wavelets. The Ricker wavelet is defined with a single center frequency using the Frequency slider.
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Rock property table
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

      <p>A table of elastic rock properties in SI units including:</p>
      
      <ul>
          <li>Acoustic impedance</li>
          <li>Poisson’s ratio (PR)</li>
          <li>Young’s modulus (E)</li>
          <li>Lame’s first parameter (λ)</li>
          <li>Shear modulus (μ)</li>
          <li>Bulk modulus (K)</li>
          <li>P-wave modulus (M)</li>
      </ul>

      <p>You can export this table to a CSV (comma separated value) file for further analysis and using in other programs.</p>
      
      </div>
    </div>
  </div>
</div>

{% endblock %}
