{% extends "base_template.html" %}

{% block title %}Modelr &middot; Drawing{% endblock %}
{% block content %}

<div class="container">

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{ error }}
  </div>
  {% endif %}

  {% if warning %}
  <div class="alert alert-warning">
      <strong>Sorry...</strong> {{ warning }} 
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success">
      <strong>Success!</strong> {{ success }} 
  </div>
  {% endif %}
  
<ol class="breadcrumb">
  <li><a href="/help">Help</a></li>
  <li class="active">Drawing</li>
</ol>

<h3>Models: inspecting your results</h3>
<p>This section describes the elements in the results section to allow you to modify, and inspect the results.
</p>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Scene selector
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">

      <p>Use the scene selector drop down menu to switch between the two view styles:</p>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/3_panels.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Spatial, angle, and wavelet</h4>
            <p>When a synthetic model is generated a figure will appear in the results area showing 3 variable intensity images through the model’s domains: a spatial cross-section (t-x domain); an angle gather (t-theta domain); and a wavelet gather (t-F domain).</p>
          </div>
        </div>
                
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/1_panel.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Spatial only</h4>
            Single panel showing a cross-section view of the synthetic data, with an isolated wiggle plot track of the selected trace.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Parameter control panel
        </a>
      </h4>
    </div>
    
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/sliders_noannot.png" alt="...">
          </a>
          <div class="media-body">
            <p><b>Scene selector</b> – Choose between a cross-section view, or view of the cross-section, angle gather and frequency gather with instantaneous amplitude plots.</p>
              
            <p><b>Trace</b> –Move the position of the wiggle trace along the spatial cross-seciton.</p>

            <p><b>TWT</b> –Move the vertical position of the horizontal green location of corresponding to the instantaneous amplitude plots.</p>

            <p><b>Gain slider</b> –Since Modeler, uses normalized wavelets, the synthetic data is a direct band-limited representation of the reflectivity of the earth model. The gain of the seismic display may need to be increased to make small reflectivity contrasts visible. Values range between 0 and 10. The default is 1.</p>

            <p><b>Offset angle</b> –Change the offset angle displayed on the cross-section and frequency gather panels. The default is zero;  normal incidence. Change this slider to simulate the appearance of partial offset stacks.</p>

            <p><b>Frequency</b> – Modify the frequency content of your wavelet. For Ricker wavelets, the range of center frequencies is 8-85 Hz. Please note that center frequency is not the same as bandwidth. See Agile blog post: <a href="http://www.agilegeoscience.com/blog/2011/6/9/f-is-for-frequency.html?rq=F%20is%20for%20frequency">F-is-for-Frequency</a>.
            </p>

            <p><b>Phase</b> – Rotate the phase of the model wavelet. The default, which is set to zero, represents a maximum positive value for downward increase in impedance across an interface.</p>

            <p><b>Signal:noise (dB)</b> – Add noise to your model by modifying the signal to noise ratio slider. Noise is applied in the frequency domain in proportion to the bandwidth of the signal.</p>
          
             <p><b>Wavelet selector</b> – Select from either Ricker or Ormsby wavelets. The Ricker wavelet is defined with a single center frequency using the Frequency slider.</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Using the instantaneous amplitude graphs
        </a>
      </h4>
    </div>
    
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">

          <p>Each domain has a corresponding area below the for plotting instantaneous amplitude values indicated by the horizontal green line. This is akin to an amplitude extraction at a specific two-way time. The instantaneous amplitude is plotted as a function of position, angle, and centre frequency for the spatial cross-section, angle gather, and wavelet gather respectively.</p>
        
          <p>Use the <i>TWT</i> slider to change the position of the instantaneous amplitude plots to inspect:</p>

        <div class="media">
          <a class="pull-right" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/graph_tslice.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Time slices</h4>
            Functions of instantaneous amplitude versus position represents an amplitude extraction along a time-slice. 
          </div>
        </div>
        
        <div class="media">
          <a class="pull-right" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/graph_AVO.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">AVO response</h4>
             Instantaneous amplitude curves in the angle domain represent AVO response.
          </div>
        </div>
        
        <div class="media">
          <a class="pull-right" href="#">
            <img class="media-object" src="/static/img/help/inspecting_models/graph_tuning.png" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Turning response</h4>
            Instantaneous amplitude plots in the frequency panel represent turning curves
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Rock property table
        </a>
      </h4>
    </div>

    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The elastic properties of each rock contained within the earth model is returned in a table with SI units. The computed rock properties include:</p>
          <ul>
            <li>Acoustic impedance</li>
            <li>Poisson’s ratio (PR)</li>
            <li>Young’s modulus (E)</li>
            <li>Lame’s first parameter (λ)</li>
            <li>Shear modulus (μ)</li>
            <li>Bulk modulus (K)</li>
            <li>P-wave modulus (M)</li>
          </ul>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/static/img/help/inspecting_models/rock_table.png" alt="...">
        </a>
      </div>
      <p>You can export this table to a CSV (comma separated value) file for further analysis and using in other programs.</p>
      
      </div>
    </div>
  </div>
</div>

{% endblock %}
