{% extends "base_template.html" %}

{% block title %}Modelr &middot; Pricing{% endblock %}
{% block content %}

    <head>
        <style type='text/css'>

.price {
  font-size: 4em;
}
 
.price-cents {
  vertical-align: super;
  font-size: 50%;
}
 
.price-month {
  font-size: 35%;
  font-style: italic;
}
.panel {
-webkit-transition-property : scale; 
-webkit-transition-duration : 0.2s; 
-webkit-transition-timing-function : ease-in-out; 
-moz-transition : all 0.2s ease-in-out;  
}
 
.panel:hover {
box-shadow: 0 0 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
}


</style>
</head>

<!-- These prices might change...
<div class=ribbon-banner>Introductory pricing!</div>

<div class="wrapper">
       <div class="ribbon-wrapper-green"><div class="ribbon-green">Alpha release</div></div>
</div>
-->

<div class="container">
              
  <h3>Pricing</h3>
  
  <p>
  Help us shape and develop Modelr — support us with your dollars and feedback, and we can build something remarkable for subsurface geoscientists. 
  </p>
  
  <p>
  We like to keep things simple. So for now there is only one plan. There may be more plans in the future, but only if we add something truly awesome.
  </p>
  
  <p>&nbsp;</p>
  
    <div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-md-offset-3 col-sm-4 col-md-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Demo</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">free</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Public results</li>
              <li class="list-group-item">Default scenarios</li>
              <li class="list-group-item">Default rocks</li>
              {% if user %}
                <li class="list-group-item">Current plan</li>
              {% else %}
                <li class="list-group-item">
		  <a class="btn btn-default" href="/demo">
		    Try it out</a>
		</li>
              {% endif %}
            </ul>
          </div>          
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="panel panel-info text-center">
            <div class="panel-heading">
              <h3>Basic</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$9<span class="price-month">/month</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Private results</li>
              <li class="list-group-item">Save scenarios</li>
              <li class="list-group-item">Save rocks</li>
              {% if user %}
              
                <li class="list-group-item">
                <form action="/pricing" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" 
		    class="stripe-button"
                    data-key="pk_test_prdjLqGi2IsaxLrFHQM9F7X4"
                    data-amount="900"
                    data-name="Modelr"
                    data-description="Monthly subscription, $9/mo"
                    data-image="/static/img/modelr_logo_white_128px.png">
                  </script>
                </form>
                </li>

              {% else %}
                <li class="list-group-item">
		  <a class="btn btn-primary" 
		     href="/signup">Create an account!</a>
		</li>
              {% endif %}
            </ul>
          </div>          
        </div>
 
      </div>
    </div> 
                
</div>

{% endblock %}

