{% extends "base_template.html" %}

{% block title %}Modelr &middot; Settings{% endblock %}
{% block content %}

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{ error }}
  </div>
  {% endif %}

  {% if warning %}
  <div class="alert alert-warning">
      <strong>Sorry...</strong> {{ warning }} 
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success">
      <strong>Success!</strong> {{ success }} 
  </div>
  {% endif %}

    
<div class="container">
              
  <h3>Settings</h3>
  
  <p>There will be more stuff here one day: preferences for units, plot defaults, which modelr server, etc.</p>

                
</div>


{% endblock %}

