{% extends "base_template.html" %}

{% block title %}Modelr &middot; Sign Up{% endblock %}
{% block content %}

<div class="col-md-6">
<div> {{error}}</div>
  <form action="signup" method="post">
    <label for="name" class="col-sm-4 control-label">Email</label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="email"  value={{email}}>
    </div>
    <label for="name" class="col-sm-4 control-label">Password</label>
    <div class="col-sm-8">
      <input class="form-control" type="password" name="password" >
    </div>
    <label for="name" class="col-sm-4 control-label">Verify</label>
    <div class="col-sm-8">
      <input class="form-control" type="password" name="verify">
    </div>
    <div>
      <input class="btn btn-primary btn-lg" type="submit" value="Register">
    </div>
</form>
</div>

{% endblock %}

