{% extends "base_template.html" %}

{% block title %}Modelr &middot; Sign up{% endblock %}
{% block content %}

<div class="container">
<div class="col-md-6">

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{error}}
  </div>
  {% endif %}

  <div class="alert alert-warning">
      <strong>Sorry!</strong> You cannot sign up yet. We should be up in February some time.<br />
      In the meantime, let <a href="mailto:matt@agilegeoscience.com">matt@agilegeoscience.com</a> know you're interested.
  </div>


<h3>Create your <strong>modelr</strong> account.</h3>
<p>&nbsp;</p>

  <form class="form-horizontal" action="signup" method="post">
  
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" name="email"  value={{email}}>
    </div>
    </div>
    
  <div class="form-group">    
    <label for="name" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input class="form-control" type="password" name="password" >
    </div>
    </div>

  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Verify password</label>
    <div class="col-sm-9">
      <input class="form-control" type="password" name="verify">
    </div>
  </div>
  
  <div class="col-sm-offset-3 col-sm-9">
    <input class="btn btn-primary btn-lg" type="submit" value="Sign me up!">
  </div>
    
  </form>

</div>
</div>

{% endblock %}

