{% extends "base_template.html" %}

{% block title %}Modelr &middot; Subscribe{% endblock %}
{% block content %}

<div class="container">

  <h3>Subscribe</h3>
  
  <div class="alert alert-warning">
      <strong>Sorry</strong> You can't subscribe to modelr yet. 
  </div>
  
  <div class="col-md-6">

	  <form class="form-horizontal" action="/submitpayment"  method="POST" id="payment-form">

		  <!-- Errors -->
		  <p><span class="text-error" style="text-align:center;"><span class="payment-errors"></span></span></p>

		  <!-- Name -->
		  <div class="form-group">
			<label class="col-sm-3 control-label">Name on card</label>
			<div class="col-sm-9 controls">
			  <input required pattern="[-a-zA-ZñÑåÅøØæÆáéèöÖíóúüçÇ ]+" class="form-control" type="text" id="contributorname" name="contributorname" placeholder="" autocomplete="off">
			</div>
		  </div>

		  <!-- Card Number -->
		  <div class="form-group">
			<label class="col-sm-3 control-label">Card number</label>
			<div class="col-sm-9 controls">
			  <input class="form-control cc-number" type="text" required data-stripe="number" placeholder="" autocomplete="off">
			</div>
		  </div>

		  <!-- Expiry-->
		  <div class="form-group">
			<label class="col-sm-3 control-label">Card expiry</label>
			<div class="row">
			<div class="col-sm-2 cc-exp-month">
			  <input class="form-control cc-exp-month" type="text" required pattern="[01][0-9]" maxlength="2" data-stripe="exp-month" placeholder="MM" autocomplete="off">
			</div>
			<div class="col-sm-2 cc-exp-year">
			  <input class="form-control cc-exp-year" type="text" required pattern="[12][0-9]" maxlength="2" data-stripe="exp-year" placeholder="YY" autocomplete="off">
			</div>
			</div>
		  </div>

		  <!-- CVV -->
		  <div class="form-group">
			<label class="col-sm-3 control-label" >Security code</label>
			<div class="col-sm-4 controls">
			  <input required pattern="\d*" maxlength="4" class="form-control cc-cvc" type="text" placeholder="CVC, CVV or CID" autocomplete="off" data-stripe="cvc">
			</div>
		  </div>

		  <!-- Submit -->
		  <div class="form-group">
			<div class="col-sm-offset-3 col-sm-3">
			  <button class="btn btn-success btn-lg" type="submit">Submit payment</button>
			</div>
		  </div>

	  </form>
  </div>		  
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
	Stripe.setPublishableKey('pk_test_prdjLqGi2IsaxLrFHQM9F7X4');

	var stripeResponseHandler = function(status, response) {
	  var $form = $('#payment-form');
	  if (response.error) {
		// Show the errors on the form
		$form.find('.payment-errors').text(response.error.message);
		$form.find('button').prop('disabled', false);
	  } else {
		// token contains id, last4, and card type
		var token = response.id;
		// Insert the token into the form so it gets submitted to the server
		$form.append($('').val(token));
		// and re-submit
		$form.get(0).submit();
	  }
	};
</script>
<script>
	jQuery(function($) {
	  $('#payment-form').submit(function(event) {
		$("#cardverificationerror").hide();
		var $form = $(this);
		var isValidInput = false;
		if ($.payment.validateCardNumber($('.cc-number').val())) {
			var cardType = $.payment.cardType($('.cc-number').val());
			if ($.payment.validateCardCVC($('.cc-cvc').val(), cardType)) {
				if ($.payment.validateCardExpiry($('.cc-exp-month').val(), $('.cc-exp-year').val())) {
							isValidInput = true;
					} else {
					$("#cardverificationerror").show();
					$("#cardverificationerrorheader").text('Is the expiration date correct?');
					$("#cardverificationerrortext").text("It doesn't seem to be a valid expiration date to us so that means we can't use it. Please check the month and year and try again.");
				}
			} else {
				$("#cardverificationerror").show();
				$("#cardverificationerrorheader").text('Is that CVC correct?');
				$("#cardverificationerrortext").text("It doesn't seem to match up to that type of card to us so that means we can't use it. Please check that CVC number and try again.");
			}
		} else {
			$("#cardverificationerror").show();
			$("#cardverificationerrorheader").text('Is that card number correct?');
			$("#cardverificationerrortext").text("It looks invalid to us so that means we can't use it. Please verify the number or consider using a different card if you have one.");
		}
		if (isValidInput) {
			$("#submitprogressbar").show();
			// Disable the submit button to prevent repeated clicks
			$form.find('button').prop('disabled', true);
			Stripe.createToken($form, stripeResponseHandler);
		}
		// Prevent the form from submitting with the default action
		return false;
	  });
	});
</script>
<script src="/static/js/jquery.payment.js"></script>
<script>
	$(document).ready(function(){
	    $('[data-numeric]').payment('restrictNumeric');
	    $('.cc-number').payment('formatCardNumber');
	    $('.cc-cvc').payment('formatCardCVC');
	    });
</script>


{% endblock %}

