{% extends "base_template.html" %}

{% block title %}Modelr &middot; Terms{% endblock %}
{% block content %}

<div class="container">
      
<h3>About our terms of service</h3>
<p>Welcome to Modelr. We developed this service to make it easy for you to make, save, and share forward models.</p>

<p>We have tried to write these terms to be readable by people like us. Unfortunately, the realities of the legal world make this very difficult. Should you have any questions or concerns or would simply like to better understand how we do things, please do not hesitate to contact us.</p>

<p>Below is a quick description of the sections in this Agreement, but (legal disclaimer coming) you should read each section to understand all the detailed terms of the agreement.</p>

<h3>What modelr is</h3>
<p>We provide you with software and a service to generate forward models of the earth's acoustic reflectivity and other geological properties. All models are wrong, but some are useful.</p>

<h3>Getting an account</h3>
<p>You provide us with basic information about yourself. You give us permission to use this information to manage your account and, to the extent allowed by you when you create your account, to share it with others as chosen by you in the app.</p>

<h3>Termination</h3>
<p>We can terminate this agreement at any time, especially if you do something bad. You can also terminate any time. Termination is effective immediately. </p>

<h3>Updates to the terms</h3>
<p>Amendments to this agreement can be made and effected by us from time to time without specific notice to your end. Agreement posted on the Site reflects the latest agreement.</p>

<h3>Intellectual property</h3>
<p>All services and their underlying intellectual property rights are made available to you are owned by us or their licensors. Except for the limited rights granted to you herein, we reserve all rights, title and interest in and to the Services.

<p>You own your data. You retain ownership of your user-provided content, data and information. You grant us a worldwide, royalty free, sub-licensable, perpetual license to (i) use any content, data and information you provide in connection with the Services for purposes of providing the Services; and (ii) to use or incorporate into the Services any suggestions, enhancement requests, recommendations or other feedback provided by you and users. Holders of free accounts grant us the right to make public everything they do. Holders of paid accounts have the right to keep everything they do private.

<p>Corporate subscribers agree that Agile Geoscience may use their company's logo to publicize them as a customer of modelr until the subscription terminates.</p>

<h3>Confidentiality</h3>
<p>Any information not generally known to the public that is disclosed by one Party (the "Disclosing Party") to the other Party (the "Receiving Party") in connection with this Agreement and that has been identified as proprietary and/or confidential shall be kept in strict confidence by the Receiving Party and may only be used or disclosed with permission of the Disclosing Party. This Section will not apply to any information which is in the public domain (otherwise than through breach of this Agreement); is known by the Receiving Party prior to its disclosure by the Disclosing Party or is independently developed by the Receiving Party without breach of the obligations contained in this Agreement; or has been received by the Receiving Party from a third party who is not subject to obligations similar to the obligations contained in this Agreement.</p>

<h3>Indemnities</h3>
<p>You agree to indemnify us from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to reasonable legal fees) arising from: (i) your violation of any of the terms of this Agreement; and/or (ii) your violation of any third party right, including without limitation any copyright, property, or privacy right.</p>

<h3>LIMITATION OF LIABILITY & DISCLAIMER OF WARRANTIES</h3>
<p>THE SERVICE IS BEING LICENSED TO YOU "AS IS" DURING THE BETA PERIOD, WITH ALL FAULTS. WITHOUT LIMITING THE GENERALITY OF THE PREVIOUS SENTENCE, AGILE GEOSCIENCE SPECIFICALLY DISCLAIMS ALL REPRESENTATIONS, CONDITIONS AND WARRANTIES, EXPRESS, STATUTORY, AND IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF ACCURACY, TITLE, QUIET ENJOYMENT, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>Some jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions, the foregoing disclaimers may not apply to you insofar as they relate to implied warranties.</p>

<p>IN NO EVENT SHALL GOINSTANT BE LIABLE FOR ANY LOSS OF PROFIT OR REVENUE OR FOR ANY OTHER CONSEQUENTIAL, INCIDENTAL, INDIRECT OR ECONOMIC DAMAGES INCURRED OR SUFFERED ARISING AS A RESULT OF OR RELATED TO THIS AGREEMENT, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EVEN IF AGILE GEOSCIENCE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES. THE PARTIES FURTHER AGREE THAT THE TOTAL LIABILITY OF EITHER PARTY FOR ALL CLAIMS OF ANY KIND ARISING AS A RESULT OF OR RELATED TO THIS AGREEMENT, OR TO ANY ACT OR OMISSION OF THE OTHER PARTY, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, SHALL NOT EXCEED AN AMOUNT EQUAL TO THE AMOUNT ACTUALLY PAID BY YOU TO US PURSUANT TO THIS AGREEMENT AND WHERE YOU HAVE PAID NOTHING FOR THE SERVICES HEREUNDER, TO A MAXIMUM OF $500.</p>

<p>THE DISCLAIMER OF REPRESENTATIONS, WARRANTIES AND CONDITIONS AND LIMITATION OF LIABILITY CONSTITUTE AN ESSENTIAL PART OF THIS AGREEMENT. YOU ACKNOWLEDGE THAT BUT FOR THE DISCLAIMER OF REPRESENTATIONS, WARRANTIES AND CONDITIONS AND LIMITATION OF LIABILITY, AGILE GEOSCIENCE WOULD NOT GRANT THE RIGHTS GRANTED IN THIS AGREEMENT. YOUR ONLY RIGHT OR REMEDY WITH RESPECT TO ANY PROBLEMS OR DISSATISFACTION WITH THE SERVICES IS TO IMMEDIATELY CEASE USE OF SUCH SERVICES.</p>

<p>In some jurisdictions, limitations of liability (or certain heads of liability) are not permitted. In such jurisdictions, the foregoing limitations may not apply to you.</p>

</div>

{% endblock %}

