{% extends "base_template.html" %}

{% block title %}Modelr &middot; Wishlist{% endblock %}
{% block content %}

<head>
<script src="/static/js/jquery.upvote.js"></script>
</head>

<div class="container">

  {% if error %}
  <div class="alert alert-danger">
      <strong>Something's wrong...</strong> {{ error }}
  </div>
  {% endif %}

  {% if warning %}
  <div class="alert alert-warning">
      <strong>Sorry...</strong> {{ warning }} 
  </div>
  {% endif %}

  {% if success %}
  <div class="alert alert-success">
      <strong>Success!</strong> {{ success }} 
  </div>
  {% endif %}
  
<h3>Wishlist</h3>
<div style="margin:2em;"></div>
<p>These issues are right from our code repository. Vote and help us decide what to build next!</p>

{% for i in issues %}

{% set slug  = i | replace(' ','_') %}

<div class="row" style="margin-top:20px;">
<div id="{{slug}}_votes" class="col-md-1 upvote">
    <a class="upvote"></a>
    <span class="count">0</span>
    <a class="downvote"></a>
</div> <div style="margin-top:20px; font-size:140%;" class="col-md-offset-1"><p>{{ i }}&nbsp;&nbsp;<span style="color:#aaa; font-size:90%; vertical-align:middle; top:-2px" id="{{ slug }}_info" class="glyphicon glyphicon-info-sign"  data-content="{{ issues[i] }}"></span></p></div>
</div>
<script>
$('#{{ slug }}_votes').upvote({count: 5, upvoted: 1});

$('#{{ slug }}_info').popover({
        trigger: 'hover click', 
        html: true,
        placement: 'right', 
        container: 'body',
        delay: { show: 500, hide: 1000 }
});
</script>

{% endfor %}

<link rel="stylesheet" href="/static/css/jquery.upvote.css">

{% endblock %}

